.header__button-registration {
  background-color: transparent;
  border: none;
  color: #a9a9a9;
  height: 22px;
  width: 90px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  top: 16px;
  left: 760px;
}
@media screen and (max-width: 920px) {
  .header__button-registration {
    position: absolute;
    top: 10px;
    left: 200px;
    font-size: 13px;
  }
}

