.header__user-email {
  margin: 0;
  margin-left: 450px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  word-wrap: break-word;
  position: absolute;
  top: 16px;
  right: 100px;
}
@media screen and (max-width: 920px) {
  .header__button-exit {
    font-size: 10px;
    top: 8px;
    right: 70px;
    max-width: 120px;
    word-wrap:normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
